rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Users can read and edit documents in the "users" collection with matching document ID
    match /users/{userId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      
      match /checkout_sessions/{id} {
      	allow read, write: if request.auth.uid == userId;
      }
      match /subscriptions/{id} {
      	allow read: if request.auth.uid == userId
      }
      match /payments/{id} {
      	allow read: if request.auth.uid == userId
      }
    }
    
    match /products/{id} {
    	allow read: if true;
      
      match /prices/{id} {
      	allow read: if true;
      }
      match /tax_rates/{id} {
      	allow read: if true;
      }
    }
    
    

    // Users can read and edit documents in the "cars" collection where "owner" field matches the user's UID
    match /cars/{carId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.owner;
      allow create: if request.auth != null;
    }
  }
}