

body {
    font-family: 'Roboto', sans-serif;
   
}

.card {
    width:15rem;
    margin:0.5rem
}

.settings {
    background-color: rgb(233, 230, 230);
    padding: 0.5rem;
}

.center {
    margin: auto;
    width:75%;
    padding:10px;
}

.gauge-holder {
    width:90%;
    margin:auto;
    margin-top: 3%;
}

.gauge {
    width:100%;
    max-width:250px;
    color: #009578;
    font-size: 150%;
}

.gauge-body {
    width:100%;
    height:0;
    padding-bottom: 50%;
    background: #b4c0be;
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
}

.gauge-fill {
    position: absolute;
    top:100%;
    left:0;
    width: inherit;
    height:100%;
    background:#009578;
    transform-origin:center top;
    transform: rotate(0.25turn);
    transition: transform 0.2s ease-out;
}

.gauge-cover {
    width:75%;
    height:150%;
    background:white;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    
    /* Text */
    display:flex;
    align-items:center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
}

.elapsedTime {
    text-align: center;
    font-size: 2.5rem;
    color: black;
}


#navBarLogo {
   
    padding-left: 10px;
    padding-right:10px;
}



.navbar {
    background-color:rgb(247, 247, 247) ;
    color: black ;
    width:100vw;
}

.menuBar {
    text-align: center;
    padding-bottom: 0.1rem;
    padding-top: 0.1rem;
    margin-bottom: 0;
    margin-top:0;
    color: black;
}

.nav-link-container a {
    float: left;
    display:block;
    color: black ;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
}

.nav-link-container a:hover {
    background-color: #ddd;
}

.nav-link-container .icon {
    display: none;
}

/* Menu Responsive */
@media screen and (max-width:639px) {
    .nav-link-container a {display: none;}
    .nav-link-container a.icon {
        float:right;
        display:block;
    }
    .nav-link-container.responsive {position: relative;}
    .nav-link-container.responsive a.icon {
        display:block;
        position:absolute;
        right:0;
        top:0;
    }
    .nav-link-container.responsive a {
        float: none;
        display: block;
        text-align: right;
    }
    .nav-link-container.responsive a.menutabmove {
        display: absolute;
        translate: 0rem 3rem;
        background-color: rgb(247,247,247);
    }
}









/* Mobile grid */
.grid-items {
    display: grid;
    justify-items: center;
    grid-template-columns:100%;
    grid-column-gap:0;
    grid-row-gap:0.5rem
}

/* Tablet Grid */
@media only screen and (min-width:640px) {
    .grid-items {
        grid-template-columns: 47.5% 47.5%;
        grid-column-gap: 5%;
        grid-row-gap: 0.5rem;
    }
}

/* Laptop Grid */
@media only screen and (min-width:981px) {
    .grid-items {
        grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
        grid-column-gap: 2%;
        grid-row-gap:0.5rem

    }
}

@keyframes fadeInUp {
    0% {opacity:0;
        translate: 0% 100%;}
    100% {opacity:1;
    translate: 0% 0%;}
}

.telemetry {
    animation: fadeInUp 1s;
}


.timer-button-right {
   
    margin-left: 0.3rem;
}

.timer-button-container {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}


progress[value] {
    -webkit-appearance: none;
    appearance: none;
    margin-bottom: 0.4rem;
    border-radius: 2px;
    width:100%;
    height:1.5rem;
}

progress[value]::-webkit-progress-bar {
    background-color: #b4c0be;
}

progress[value]::-webkit-progress-value {
    background-color: #009578;
}

